.error-indicator {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #d50000;
  padding: 1rem 0;

  .error-status {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .error-message {
    font-size: 1.25rem;
    font-weight: 400;
  }
}