.shopping-cart-table {
  margin-top: 45px;

  .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
  }

  button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
  }
}
