.book-list-item {
  display: flex;
  margin: 15px 0;

  .book-cover {
    flex-shrink: 0;
    width: 120px;
    margin-right: 30px;

    img {
      width: 120px;
      height: 184px;
      max-width: 100%;
    }
  }

  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;

    .book-title {
      font-size: 1.2rem;
    }
    .book-price {
      font-size: 1.4rem;
    }
  }
}
