@font-face {
  font-family: 'Kufam';
  font-weight: 400;
  src: local('Kudam'), url(../fonts/Kufam-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Kufam';
  font-weight: 500;
  src: local('Kudam'), url(../fonts/Kufam-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Kufam';
  font-weight: 600;
  src: local('Kudam'), url(../fonts/Kufam-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Kufam';
  font-weight: 700;
  src: local('Kudam'), url(../fonts/Kufam-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Kufam';
  font-weight: 800;
  src: local('Kudam'), url(../fonts/Kufam-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Kufam';
  font-weight: 900;
  src: local('Kudam'), url(../fonts/Kufam-Black.ttf) format('truetype');
}
